@import url("https://fonts.googleapis.com/css?family=Raleway:200,400|Material+Icons")

html,
body
  margin: 0
  padding: 0
  height: 100%
  font-family: 'Raleway'

#application
  width: 100vw
  height: 100vh
  overflow: hidden

svg
  width: 100vw
  height: 100vh
  display: block
  transition: all 175ms linear

  path,
  circle
    &.pressed
      fill: #0E9DD9

  #button-10,
  #button-11
    &.pressed
      fill: transparent
      stroke: #0E9DD9

  // #button-0.pressed
  //   fill: #95BF30
  // #button-1.pressed
  //   fill: #FD3401
  // #button-2.pressed
  //   fill: #59ACFE
  // #button-3.pressed
  //   fill: #FFBD39

.hidden
  opacity: 0
